.options-modal {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;

  &__download-list {
    padding: $spacing-lg;
  }

  &__button {
    margin: 0;
    font-size: convert-to-rem(14px);
    color: $link-color;

    .-is-proposal-or-event & {
      @include font-size-sm;
    }

    &--is-open {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
      color: $text-color;
      cursor: pointer;
    }
  }

  &__close-button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    padding: $spacing-sm $spacing-sm 0 0;
  }

  &__close-button {
    &--icon {
      color: $link-color;
      width: 26px;
      &:hover {
        color: black;
      }
    }
  }

  &__options {
    @include font-size-sm;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: white;
  }

  &__modal-container {
    background-color: white;

    @include screen-sm {
      transform: translate(-320px);
      margin-top: $spacing-sm;
      width: 450px;

      .-is-page-footer & {
        transform: translate(-395px);
      }

      .-is-proposal-or-event & {
        transform: none;
      }
      .-is-text-with-sidebar & {
        transform: translate(23px);
      }
    }
    position: absolute;
    z-index: 99;
    width: 90%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

    &--hidden {
      display: none;
    }
  }
}
