.future-events {
  padding: $spacing-xxl 0;

  &--title {
    @include font-size-xxl;
    margin: 0;
  }

  &--list {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-xl;

    border-top: 1px solid $element-color--light;
  }

  > a {
    padding: $spacing-md $spacing-lg !important;
    border-radius: 45px !important;
  }

  > p {
    @include font-size-lg;
  }
}
