﻿.Sleek .side_liste {
    background: url('/Static/img/icons/ark_m_liste.png');
    height: 16px;
    width: 16px;
}

.Sleek .mappe {
    background: url('/Static/img/icons/mappe.png');
    height: 18px;
    width: 18px;
}

.Sleek .hus {
    background: url('/Static/img/icons/satellittforside.png');
    height: 18px;
    width: 18px;
}

.Sleek .blank {
    background: url('/Static/img/icons/ark_m_visning.png');
    height: 16px;
    width: 18px;
}

.Sleek .blokker {
    background: url('/Static/img/icons/ark_m_blokker.png');
    height: 16px;
    width: 18px;
}

.Sleek .tekst {
    background: url('/Static/img/icons/ark_m_tekst.png');
    height: 16px;
    width: 18px;
}

.Sleek .tannhjul {
    background: url('/Static/img/icons/tannhjul.png');
    height: 18px;
    width: 18px;
}

.Sleek .utenvisning {
    background: url('/Static/img/icons/ark_u_visning.png');
    height: 16px;
    width: 18px;
}

.Sleek .rssfeed {
    background: url('/Static/img/icons/rss.png');
    height: 18px;
    width: 18px;
}

.Sleek .menypunkt {
    background: url('/Static/img/icons/menypunkt.png');
    height: 18px;
    width: 18px;
}
