﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Forskningsradet.Core.Models.RequestModels;
@inherits System.Web.Mvc.WebViewPage<RevisionReportRequestModel>

@{
    Layout = "~/AdminTools/_AdminToolLayout.cshtml";
    const string dateFormat = "dd/MM/yyyy";
    var dateEnd = Model.DateEnd != null ? Model.DateEnd?.ToString(dateFormat) : string.Empty;
}

<h1>Revisjonsrapport</h1>

@using (Html.BeginForm("SubmitForm", "RevisionReport", FormMethod.Post))
{
    <table>
            <thead>
                <tr>
                    <th>Sidetype</th>
                    <th>Start - Datointervall</th>
                    <th>Slutt - Datointervall</th>
                    <th>Vis Norske sider</th>
                    <th>Vis Engelske sider</th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.PageType, "", new { onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.EditorFor(m => m.DateStart, new { @class = "form-control datepicker", onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.EditorFor(m => m.DateEnd, new { @class = "form-control datepicker", onchange = "this.form.submit();" }) @dateEnd
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.ShowNorwegianPages, new { onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.ShowEnglishPages, new { onchange = "this.form.submit();" })
                </td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
    </table>
}

<table>
    <thead>
        <tr>
            <th width="100">Sidenavn</th>
            <th width="60">Publiseringsdato</th>
            <th width="60">Sist endret</th>
            <th width="60">Revisjonsdato</th>
            <th width="100">Endret av</th>
            <th width="20">Språk</th>
            <th width="100">Sidetype</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model.Pages)
        {
        <tr id="@page.PageName">
            <td><a href="@page.EditUrl">@page.PageName</a></td>
            @if (page.PublishedDate.HasValue)
            {
                <td>@page.PublishedDate.Value.ToString(dateFormat)</td>
            }
            else
            {
                <td></td>
            }
            <td>@page.LastEdit.ToString(dateFormat)</td>
            <td>@page.RevisionDate.ToString(dateFormat)</td>
            <td>@page.ChangedBy</td>
            <td>@page.Language</td>
            <td>@page.PageType</td>
        </tr>
        }
    </tbody>
</table>
