.table-of-contents {
  position: relative;
  height: 100%;
  padding-bottom: 48px;

  &__content {
    position: sticky;
    top: $spacing-xxl;
    max-height: calc(100vh - #{$spacing-xxl});
    padding: $spacing-lg;
    background-color: $element-color--lightest;
    margin-top: $spacing-md;
    overflow-y: scroll;
  }

  @include screen-lg {
    margin-top: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    color: $background-color;

    &-icon {
      @media print {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__title {
    margin: 0;
  }

  &__list {
    @include remove-list-styles;
    @include font-size-sm;
    margin: 0;
    color: $link-color;

    &-item {
      padding: $spacing-sm 0;
      border-bottom: 1px solid $element-color--light;
    }
  }
}
