.frontpage-header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'text'
    'image'
    'prioritised';

  @include screen-md {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'text image'
      'prioritised image'
      'prioritised image';
  }

  &.-theme-dark-blue {
    background: $link-color;
    color: $label-color;
  }

  &.-theme-grey-blue {
    background: $background-color;
    color: $label-color;
  }

  &.-theme-purple {
    background: #612141;
    color: $focus-color;
  }

  &--image {
    grid-area: image;
    position: relative;
    height: 200px;

    @include screen-md {
      min-height: 100%;
      height: 440px;
    }
  }

  &--prioritised-content {
    grid-area: prioritised;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include screen-md {
      padding-bottom: 40px !important;
    }
  }

  &--text {
    grid-area: text;
    margin: 0;
    color: white;
    @include fluid-type(14px, 18px);

    @include screen-md {
      padding-top: 40px;
    }
  }

  &--prioritised-content,
  &--text {
    @include screen-md-max {
      padding: $spacing-md;
    }
    @include screen-md {
      max-width: calc(1340px / 2); // Align with Header component
      width: 90%;
      padding-right: $spacing-md;
      margin-left: auto;
    }

    @include screen-lg {
      padding-right: 10rem;
    }
  }

  &--title {
    margin: 0 0 $spacing-md;
    @include fluid-type(24px, 42px);
  }

  &--link {
    display: inline-block;
    margin: $spacing-md $spacing-md 0 0;
  }
}
