﻿@using Forskningsradet.Web.RenderTemplates

@model Forskningsradet.Core.Models.ViewModels.Media.ImageFileViewModel

@if (Model != null)
{
    <div class="fluid-image">
        <img src="@GetMobileImageUrl()" alt="@Model.AltText" class="@ViewData["CssClass"]" data-large="@GetNormalImageUrl()" data-small="@GetMobileImageUrl()" />
    </div>
}

@functions {

    string GetNormalImageUrl()
    {
        ImageSize imageSize = GetImageSize();
        if (imageSize != null)
        {
            return imageSize.AppendNormalSizeParamsToUrl(Model.Url);
        }
        
        return Model.Url;
    }

    string GetMobileImageUrl()
    {
        ImageSize imageSize = GetImageSize();
        if (imageSize != null)
        {
            return imageSize.AppendMobileSizeParamsToUrl(Model.Url);
        }

        return Model.Url;
    }

    ImageSize GetImageSize()
    {
        var imageSize = ViewData["ImageSize"] as ImageSize ?? ViewContext.RouteData.Values["ImageSize"] as ImageSize;
        return imageSize;
    }
}