.portfolio-content {
  @include screen-md {
    display: flex;
  }

  &.-inside-priority {
    .theme-portfolio {
      font-size: convert-to-rem(20px);
    }

    .link-with-text {
      .link {
        font-size: convert-to-rem(20px);
      }

      &--text {
        font-size: 18px;
        margin-left: calc(1rem + 8px);
      }
    }

    .contact-list-item--title {
      font-size: convert-to-rem(16px);
    }

    .nested-link--title {
      font-size: convert-to-rem(16px);
    }

    .link-list {
      .link {
        font-size: convert-to-rem(20px);
      }
    }

    .portfolio-content--blocks {
      margin-top: 0;
    }
  }

  &--title.heading {
    @include underline;
    @include font-size-portfolio;
    padding-bottom: $spacing-md;

    &:before {
      width: 100%;
    }
  }

  &--blocks {
    margin-top: 1rem;

    @include screen-md {
      margin-top: 2rem;
    }

    &.-top-content-is-text {
      margin-top: calc(2rem - 3px);

      @include screen-md {
        margin-top: calc(2rem - 5px);
      }
    }
  }

  &--content {
    width: 100%;
  }

  &--icon {
    height: 45px;
    width: 45px;
    color: $focus-color;
    margin-bottom: $spacing-sm;

    @include screen-md {
      margin: -0.8rem 1rem 0 0;
    }
  }
}
