.vacancies {
  max-width: $content-width-sm;
  margin: 0 auto;

  &--title {
    @include font-size-xxl;
    width: 100%;
    border-bottom: 1px solid $element-color--light;
    padding-bottom: $spacing-md;
    margin-top: $spacing-xl;
    margin-bottom: 0;
  }

  &--cta {
    @include screen-sm {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      @include font-size-body;

      @include screen-sm {
        width: 66%;
      }
    }
  }
}
