.media-block {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  border: 1px solid $element-color--light;
  padding: $box-padding $box-padding--small $box-padding--small
    $box-padding--small;
  height: 100%;
  &.-has-title {
    justify-content: space-between;
  }

  h2 {
    margin-top: 0;
  }

  &__image {
    position: relative;
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
  }

  &--title-icon {
    flex-shrink: 0;
    color: $focus-color;
    margin-right: $spacing-sm;
  }

  &--icon {
    margin-top: -$spacing-sm;
    margin-bottom: $spacing-md;
    width: $spacing-xl;
    height: $spacing-xl;

    @include screen-sm {
      width: $spacing-xxl;
      height: $spacing-xxl;
    }
  }

  &__embed {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
