.media-with-caption {
  &__caption {
    @include font-size-xs;
    color: $text-color;
    margin: $spacing-md 0;
  }

  &--title-icon {
    flex-shrink: 0;
    color: $focus-color;
    margin-right: $spacing-sm;
  }

  &--icon {
    margin-top: -$spacing-sm;
    margin-bottom: $spacing-md;
    width: $spacing-xl;
    height: $spacing-xl;

    @include screen-sm {
      width: $spacing-xxl;
      height: $spacing-xxl;
    }
  }
}
