.page-header {
  text-align: center;

  &--links-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;

    @include screen-md {
      margin-top: 0;
    }
  }

  &--link {
    margin: $spacing-sm;
  }

  &--top {
    position: relative;
    margin-bottom: -40px;
    height: 250px;

    @include screen-md {
      height: 150px;
    }

    &.-has-image {
      height: 250px;

      @include screen-md {
        height: 450px;
      }
    }
  }

  &--ingress {
    max-width: $content-width-sm;
    margin: 0 auto;
  }

  &--ingress {
    @include font-size-lg;
    line-height: 1.45;

    &.-has-portfolio-links {
      @include font-size-xl;
      max-width: $content-width-md;
      line-height: 1.45;
    }
  }

  &--title {
    @include font-size-heading;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: $box-padding;
    background-color: white;
    width: $content-width-sm;
    max-width: 90%;
    hyphens: manual;

    // NOTE: Magic number to keep top margin consistent with other pages when there is no image
    margin-top: $spacing-xxl - $box-padding;

    .page-header--top + & {
      margin-top: 0;
    }

    h1 {
      margin: 0;
    }
  }

  &--portfolio-links {
    margin-top: 2.5rem;
  }

  &--portfolio-link {
    margin: $spacing-sm;
  }
}
