.accordion-block {
  border: 1px solid $focus-color;
  border-radius: 35px;

  @media print {
    // NOTE: Force visibility of collapsed content when printing
    > div {
      height: auto !important;
      overflow: visible !important;
      visibility: visible !important;
    }
  }

  &:after {
    content: '';
  }

  :root & h2 {
    margin: 0;
    margin-bottom: 0;
  }

  :root & p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--content {
    @include font-size-sm;
    padding: 0 $box-padding $box-padding;
    overflow: hidden;
  }

  &--header h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px $box-padding;
  }

  &--icon {
    color: $link-color;

    &.-is-open {
      transform: rotate(180deg);
    }
  }
}
