.article-header {
  color: $text-color;
  margin-bottom: $spacing-lg;

  &--byline {
    @include font-size-xs;
    width: 100%;
    border-bottom: 1px solid $element-color--light;
    border-top: 1px solid $element-color--light;
    padding: $spacing-sm 0;

    &.-is-desktop {
      display: flex;

      @include screen-sm-max {
        display: none;
      }
    }

    &.-is-mobile {
      @include screen-sm {
        display: none;
      }
    }
  }

  &--byline-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > p {
      margin: 0;
      flex-grow: 1;
    }
  }

  &--toggle {
    color: $link-color;

    &.-is-active {
      transform: rotate(-180deg);
    }
  }

  &--byline-content {
    display: flex;
    flex-direction: column;
  }

  &--download-link {
    @include line-separator("before", "left");
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    margin-left: $spacing-sm;
    align-self: flex-end;
    padding-left: 10px;
  }

  &--links {
    display: block;
    margin-left: 0;
    @include screen-sm {
      display: flex;
      margin-left: auto;
    }
  }
}
