.page-navigation {
  width: 100%;
  margin-top: $spacing-xl;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--icon {
    color: $focus-color;
  }

  &--icon-right {
    margin-left: auto;
  }

  &--icon-left svg {
    transform: rotate(180deg);
  }
}
