.campaign-block-list {
  @include screen-md {
    display: flex;
  }

  & .campaign-block:nth-child(1) {
    @include screen-md-max {
      margin-bottom: 32px;
    }
  }

  & .campaign-block:nth-child(2) {
    @include screen-md {
      margin-left: $spacing-sm;
    }
  }
}
