.process-carousel {
  position: relative;

  &.-more-than-three {
    @media screen and (min-width: 1600px) {
      width: 134%;
    }
  }

  & .carousel-items-wrapper {
    position: absolute;
    width: 100%;
  }

  &__button {
    position: absolute;
    top: 50%;
    color: $focus-color;

    & > .icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    &[disabled] {
      display: none;
    }
  }
  &__button-prev {
    transform: translateY(-50%) scaleX(-1);
    left: -1.5rem;
  }

  &__button-next {
    transform: translateY(-50%);
    right: -1.5rem;
  }

  &--item {
    padding: 0.5rem;
    height: calc(100% - 0.5rem);
  }
}
