.process-item {
  $self: &;
  position: relative;
  text-align: center;
  background-color: white;
  border: 2px solid $element-color--light;
  border-radius: 30px;
  height: 18.5rem;
  transition: height 0.1s ease-in;

  &--has-link {
    &:hover,
    &:focus {
      background-color: $element-color--lightest;
      #{$self}__title {
        text-decoration: underline;
      }
    }
  }

  &--button-hover {
    background-color: white !important;

    #{$self}__title {
      text-decoration: unset !important;
    }
  }

  &--expand {
    height: calc(100% + 10px);
    transition: height 0.1s ease-out;

    #{$self}__button {
      transform: translateX(-50%) rotate(180deg);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem 48px 2rem;
  }

  &__wrapper {
    height: 100%;
    overflow: hidden;
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 100;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);
    transition: 0.2s;
    color: $focus-color;

    &:hover,
    &:focus {
      background-color: $element-color--lightest;
    }
  }

  &__header {
    color: $focus-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & &__number {
    font-size: 3.5rem;
    height: 3rem;
    line-height: 2.7rem;
    font-weight: 600;
    margin: 2.5rem 0 1rem 0 !important;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    margin: 2rem 0 0.5rem 0;
  }

  &__arrow {
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    margin: 0;
  }

  &__text {
    align-self: stretch;
    margin-top: $spacing-xs;
    margin-bottom: 0;
  }
}
