.event-page {
  padding-top: $spacing-xl;
  max-width: 1500px;
  margin: auto;

  &--heading {
    margin-top: 0;
    margin-bottom: $spacing-lg;
  }

  &--title {
    @include font-size-xxl;
    margin-bottom: 0;
  }

  &--dates {
    height: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    padding: $spacing-md $spacing-md;
    width: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    margin-top: 0;
    color: white;

    &.-dark-filter {
      background-color: rgba(8, 19, 25, 0.36);
    }

    .date-card-dates--day,
    .date-card-dates--month,
    .date-card-dates--year {
      &.-single-period {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0 !important;
      }
    }

    @include IE {
      display: inline-flex !important;
    }

    .date-card-dates--dates {
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .date-card-dates--month.-start-month-only {
      margin: -1rem 0 1rem !important;
    }

    .date-card-dates--past-date,
    .date-card-dates--description-top {
      text-align: center;
    }

    .date-card-dates--past-date {
      margin: 0;
      align-self: unset;
    }

    & .date-card-dates--bar:before {
      position: relative;
      width: 40px;
      height: 6px;
      margin: 0 auto;
    }

    & .date-card-dates--date {
      display: block;

      & div {
        margin: 0;
        text-align: center;
      }
    }

    .date-card-dates--description-top {
      margin-top: 0.5rem;
    }
    .date-card-dates--description {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    @include screen-md {
      padding: $spacing-lg $spacing-md;

      & .date-card-dates--bar:before {
        width: 52px;
        height: 6px;
      }
    }

    &.-theme-big {
      .date-card-dates--bar:before {
        width: 130px !important;
      }
    }
  }

  &--header {
    @include font-size-sm;

    &-title {
      margin: $spacing-sm 0 $spacing-md;
    }

    &-text {
      flex: 1;
      width: 90%;
      margin: 0 auto;
    }

    @include screen-md {
      display: flex;

      &-text {
        width: initial;
        margin: 0 0 0 80px;
      }
    }

    @include screen-lg {
      width: 85%;
    }

    &-left {
      width: 90%;
      margin: auto;
      max-height: 500px;
      @include screen-md {
        flex: 1;
        width: initial;
        margin: 0;
      }
    }
  }

  &--image-container {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 100%;
    width: 100%;
    height: 11rem;

    @include screen-sm {
      height: 22rem;
    }

    &.-default-image {
      width: 22rem;
      height: 20rem;

      & .event-page--dates {
        height: 100%;
      }
    }

    @include screen-md {
      float: right;
    }

    &.-is-past-date {
      width: 16rem;
    }
  }

  &--image {
    object-fit: cover;
    width: 100%;
    height: 22rem;

    @include screen-md {
      height: 100%;
      width: auto;
      margin-left: auto;
    }
  }

  &--content {
    max-width: $content-width-md;
    margin-right: auto;
    width: 90%;
  }

  &--registration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: $spacing-xl;

    p {
      margin-left: $spacing-lg;
    }
  }

  &--links {
    @include screen-lg {
      display: flex;
      flex-wrap: wrap;
    }
    display: block;
    align-items: center;
    padding-top: $spacing-lg;
    border-top: 1px solid $element-color--lighter;

    @include screen-lg {
      margin-top: $spacing-xl;
    }

    & > div {
      margin-bottom: 8px;
      font-size: 1rem;
    }
  }

  &--text {
    margin-top: $spacing-xl;
  }

  &--speakers,
  &--schedule,
  &--contact {
    margin-top: $spacing-lg;
    border-top: 1px solid $element-color--lighter;
  }

  &--content-container {
    width: 95%;
  }

  .content-with-sidebar.event-page--content-with-sidebar {
    grid-template-columns: 200px 1fr;
    grid-gap: 32px;
  }

  &--menu {
    margin-top: 2rem !important;
    @include screen-lg-max {
      padding-bottom: 0 !important;
    }
  }

  &--sidebar {
    @include screen-lg-max {
      width: 90%;
      margin: auto;
    }
  }
}
