.event-data {
  &--item {
    margin-bottom: $spacing-sm;
    & dt {
      font-weight: bold;
      display: inline;
    }
    & dd {
      margin-left: 0.2rem;
      display: inline;
    }

    &.-multiple-paragraphs {
      display: flex;
      & p {
        display: block;
      }
    }

    p {
      margin: 0;
      display: inline;

      span {
        display: inline;
      }

      span ~ span {
        margin-left: 0.3rem;
      }
    }
  }
}
