.event-page-link {
  display: flex;
  align-items: center;
  margin-right: $spacing-xl;
  margin-bottom: $spacing-sm;

  &--icon {
    flex-shrink: 0;
    height: 32px;
    width: 32px;
    margin-right: $spacing-sm;
    color: $background-color;
  }
}
