.error-page {
  background-color: $element-color--lightest;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--code {
    @include font-size-huge;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    color: $background-color;
    font-weight: bold;
    border: 4px solid currentColor;
    border-radius: 50%;

    @include screen-sm {
      height: 200px;
      width: 200px;
    }
  }

  &--text {
    max-width: 500px;
    text-align: center;
    margin: $spacing-xl $spacing-lg;
    padding: $spacing-lg 0;
    font-weight: bold;
    border: 1px solid $element-color--light;
    border-left: none;
    border-right: none;
  }

  &--logo {
    max-width: 200px;
  }

  &--downtime {
    max-width: 300px;
  }
}
