.timeline-print {
  @media screen {
    display: none;
  }

  &--title,
  &--sub-title {
    display: inline-block;
  }

  &--title {
    &:after {
      content: ':';
      margin-right: $spacing-xs;
    }
  }
}

.timeline {
  position: relative;
  color: black;
  padding: $spacing-lg 0;

  @media print {
    display: none;
  }

  &.-theme-gray {
    background-color: $element-color--lightest;
    color: inherit;

    .timeline--track {
      &:before {
        background-image: linear-gradient(
          90deg,
          rgba($element-color--lightest, 1),
          rgba($element-color--lightest, 0.01)
        );
      }

      &:after {
        background-image: linear-gradient(
          -90deg,
          rgba($element-color--lightest, 1),
          rgba($element-color--lightest, 0.01)
        );
      }
    }

    .timeline--next,
    .timeline--previous {
      color: $focus-color;
      border-color: $focus-color;

      &:after {
        background-color: $element-color--lightest;
      }
    }

    .timeline--expand {
      color: $link-color;

      &:after {
        background-color: $element-color--lightest;
      }
    }
  }

  &--content {
    position: relative;
    @include screen-md-max {
      width: 100%;
    }
  }

  &--track {
    margin: $spacing-xl 0 $spacing-lg;
    opacity: 0;
    transition: opacity 0.4s;

    .-is-mounted & {
      opacity: 1;
    }

    @include screen-md {
      position: relative;
      margin: $spacing-xl (-$spacing-lg) $spacing-lg;
    }

    @include screen-lg {
      margin: $spacing-xl #{-$spacing-xl} $spacing-lg;
    }

    .-theme-block & {
      margin: $spacing-xl 0;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 44px;
      height: 45px;

      @include screen-sm {
        top: 28px;
      }
    }

    &:before {
      left: 0;
      width: 40px;
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.01)
      );
    }

    &:after {
      right: 0;
      width: 40px;
      background-image: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.01)
      );

      @include screen-md {
        width: 100px;
      }
    }
  }

  &--expand,
  &--next,
  &--previous {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: $background-color;

    svg {
      position: relative;
      z-index: 2;
    }
  }

  &--expand {
    position: relative;
    margin: 0 auto;
    transform: rotate(90deg);

    &.-is-active {
      transform: rotate(-90deg);
    }
  }

  &--next,
  &--previous {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 6px;
    transition: opacity 0.3s, transform 0.3s $ease-out;
    margin: 0 $spacing-md 0 $spacing-md;

    &-icon {
      color: $link-color;
      width: 48px;
      height: 48px;
      &:hover {
        color: black;
      }
    }

    @include screen-md-max {
      &:after {
        border-color: transparent;
      }
    }

    @include screen-sm {
      bottom: auto;
      top: -10px;
      margin: 0 10px;
    }

    @include screen-md {
      margin: 0;
    }

    &:disabled,
    &[disabled] {
      opacity: 0;
      transform: scale(0.1);
    }
  }

  &--next {
    right: 0;
    transform: rotate(-90deg);

    &:before {
      right: 2px;
      background-image: linear-gradient(
        90deg,
        rgba($element-color, 0.01),
        rgba($element-color, 0.99)
      );
    }
  }

  &--previous {
    left: 0;
    transform: rotate(90deg);

    &:before {
      left: 2px;
      background-image: linear-gradient(
        90deg,
        rgba($element-color, 0.99),
        rgba($element-color, 0.01)
      );
    }
  }
}
