.checkbox {
  display: block;
  color: $text-color;

  // NOTE: 'default' is a theme because these styles are used on mailchimp, and we have no control over the checkbox markup there
  &.-theme-default,
  &.-theme-gray {
    input {
      @include visually-hidden;

      &:checked + label {
        color: black;

        span {
          color: inherit;
        }
      }
    }

    label {
      position: relative;
      display: flex;
      align-items: flex-start;

      &:hover {
        color: black;
      }

      &:before {
        content: '';
        display: block;
        flex-shrink: 0;
        width: 22px;
        height: 22px;
        border: 1px solid $background-color;
        border-radius: 2px;
        background-color: white;
      }

      span {
        padding-left: $spacing-sm;
      }

      svg {
        color: $link-color;
      }
    }
  }

  &.-theme-default {
    input:checked + label:before {
      border: 2px solid $background-color;
    }

    label {
      &:before {
        border-color: $element-color;
      }

      span {
        padding-top: 0.2em;
      }
    }
  }

  &.-theme-gray {
    color: $element-color--darker;
  }

  html:not(.mouse-user) & input:focus + label {
    @include focus-outline;
  }

  &--checkmark {
    position: absolute;
    left: 3.5px;
    top: 3px;
    transform: scale(0);
    transition: transform 0.2s $ease-out;

    input:checked + label & {
      transform: none;
    }
  }
}
