.tab-list {
  position: relative;
  border-bottom: 1px solid $element-color--light;

  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: calc(50% - 50vw);
    height: 1px;
    width: 100vw;
    background-color: $element-color--light;
  }

  ul {
    @include remove-list-styles;
    display: flex;
    width: 100%;
    margin: 0;
  }

  li {
    position: relative;
    font-weight: bold;
    color: $link-color;

    @include screen-md {
      margin: 2px 2px 0;
    }

    &.-is-active {
      width: max-content !important;
      & a {
        background-color: white;
        margin-bottom: -1px;
        border-bottom: 1px solid white;
        color: $text-color;
      }
    }
  }

  @include screen-md-max {
    li:not(:first-child) {
      margin-left: -5%;
    }

    @include quantity-selector(li, 2) {
      width: 50%;

      &.-is-active {
        width: 60%;
        max-width: calc(100% - (65px * 1));
      }
    }
    @include quantity-selector(li, 3) {
      width: 35%;

      &.-is-active {
        max-width: calc(100% - (65px * 2));
        width: 40%;
      }
    }
    @include quantity-selector(li, 4) {
      width: 25%;

      &.-is-active {
        max-width: calc(100% - (65px * 3));
        max-width: 40%;
      }
    }
  }

  a {
    display: block;
    padding: $spacing-md $spacing-md $spacing-sm;
    border: 1px solid $element-color--light;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    border-bottom-width: 0px;
    background-color: $element-color--lightest;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    min-width: 80px;

    @include screen-sm {
      padding: $spacing-md $spacing-lg $spacing-sm;
    }
  }
}
