.tab-content {
  &__container {
    max-width: unset !important;

    @media screen and (min-width: 1440px) {
      margin-left: calc(((100vw - 840px) / 2) - 272px);
    }
  }

  &__grid {
    grid-template-columns: 230px 1fr !important;
    -ms-grid-columns: 230px 48px 1fr;
    column-gap: 32px !important;
  }

  &__content {
    max-width: $content-width-md;
  }

  &--content,
  &--downloads,
  &--link,
  &--description,
  &--text {
    margin-top: $spacing-xl;
  }

  &--bullets {
    margin-top: $spacing-lg;
  }

  &--old-style {
    max-width: $content-width-lg !important;

    &.tab-content__container {
      max-width: 1340px !important;
      @include screen-lg {
        margin-left: auto;
      }
    }

    & .tab-content__grid {
      grid-template-columns: 300px 1fr !important;
      column-gap: $spacing-xl !important;
    }

    & .tab-content__content {
      max-width: $content-width-lg;
      @media screen and (min-width: 1380px) {
        margin-left: 0;
      }
    }
  }
}
