.tabs {
  margin: $spacing-xxl 0;

  &--content {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-xxl;

    @include screen-lg {
      margin-top: $spacing-xxl;
    }
  }

  &--content-tab {
    &.-inactive {
      display: none;

      @media print {
        display: block;
      }
    }
  }
}
