.article-page {
  &--ingress {
    @include font-size-lg;
    line-height: 1.45;
    border-top: 1px solid $element-color--light;
  }

  &--footer {
    margin-top: $spacing-xxl;
  }

  @media print {
    &--sidebar {
      display: none;
    }
  }
}
