.search-input {
  position: relative;

  &--input {
    width: 100%;
  }

  &--input:focus + &--icon {
    display: none;
  }

  &--icon {
    position: absolute;
    top: 50%;
    right: $spacing-md;
    transform: translateY(-50%);
  }
}
