.number-block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  padding: $box-padding;
  height: 100%;
  border: 1px solid $focus-color;

  &--number-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &--number {
    @include font-size-huge;
    margin: 0;
    margin-bottom: $spacing-md;
  }

  &--description {
    font-size: $spacing-md;
    font-weight: bold;
    margin: 0;
    margin-bottom: $spacing-md;
    min-width: 200px;
  }

  h2 {
    font-size: inherit;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
