.link-list {
  @include remove-list-styles;
  padding: ($spacing-sm / 2) 0;
  margin: 0;

  &.-theme-frontpage-links {
    padding-top: $spacing-xs;

    @include screen-md {
      display: flex;
    }
    li {
      flex: 1;
      padding: $spacing-sm 14px;
      margin: $spacing-xs;
      background: $element-color--lightest;

      @include screen-md {
        padding: 32px 40px;
        margin: 0 $spacing-xs 0 0;
      }

      .link {
        color: $text-color;
        @include fluid-type(20px, 24px);

        .icon {
          @include screen-md {
            width: 12px;
            height: 17px;
          }
        }
      }
    }
  }
  &.-theme-portfolio {
    padding-top: 0;

    & li:first-child {
      padding-top: 0;
    }
  }

  li {
    padding: $spacing-sm 0;
  }

  &.-theme-border {
    li {
      border-bottom: 1px solid rgba($element-color--darker, 0.3);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--with-icon {
    padding-top: $spacing-md;
  }
}
