.newsletter-registration-page {
  &--title {
    margin-bottom: $spacing-lg;
  }

  &--email-title {
    margin-bottom: $spacing-md;
    @include font-size-xl;
  }

  &--submit {
    margin-top: $spacing-xl;
  }

  &--footer {
    margin-top: $spacing-xxl;
  }
}
