.proposal-page {
  &--heading {
    display: flex;
    align-items: center;
  }
  &--icon {
    stroke: $focus-color;
    margin-right: $spacing-lg;
  }

  &__status-container {
    margin-bottom: 1rem;
  }

  &--metadata {
    @include screen-md {
      display: flex;
    }
  }

  &--metadata-column {
    @include screen-md {
      width: 50%;
    }
  }

  &--contact {
    > span {
      @include font-size-sm;
      font-weight: bold;

      &:after {
        content: ':';
        margin-right: $spacing-sm;
      }
    }
  }

  &--share {
    @include font-size-sm;
    border-top: 1px solid $element-color--light;
    margin: $spacing-xl 0 0;
    padding-top: $spacing-lg;
  }

  &--header {
    background-color: $element-color--lightest;
    padding: $spacing-lg 0 $spacing-lg;

    &-actions {
      display: flex;
      margin-top: $spacing-lg;

      .button {
        display: flex;
        align-items: center;
        padding: 6px $spacing-lg;
      }
    }
  }

  &--apply-button {
    margin-right: 1rem;
  }

  &--message-container {
    margin-top: $spacing-xl;
  }

  &--description {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
  }

  &--description-ingress {
    @include font-size-lg;
    line-height: 1.45;
    margin-bottom: $spacing-lg;
  }

  &--download {
    @include screen-sm-max {
      .options-modal__button {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
