.proposal-data {
  @include font-size-sm;

  &--label,
  &--text {
    display: inline-block;
  }

  &--label {
    font-weight: bold;
    margin-right: $spacing-xs;

    &:after {
      content: ':';
    }
  }

  &--text {
    span {
      margin-right: $spacing-sm;
    }

    a {
      &:not(:last-child):after {
        content: ', ';
      }
    }
  }

  &--item {
    margin-bottom: $spacing-xs;

    @include screen-md {
      padding-right: $spacing-md;
    }
  }
}
