.proposal-contact {
  @include font-size-sm;
  display: inline;

  span,
  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-sm;

      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 1em;
        background-color: $element-color--light;
        margin-left: $spacing-sm;
      }
    }
  }
}
