.accordion-with-content-area {
  border: 2px solid $focus-color;

  @media print {
    // NOTE: Force visibility of collapsed content when printing
    > div {
      height: auto !important;
      overflow: visible !important;
      visibility: visible !important;
    }
  }

  &--anchor-target {
    padding: $spacing-sm 0;
  }

  &--header {
    background-color: white;
    border: 0;
    &:hover {
      background-color: $focus-color;
      &.-is-open {
        background-color: white;
        .accordion-block-with-content-area--icon {
          color: $focus-color;
        }
      }
    }

    &--disabled {
      color: $element-color;
      &:hover {
        background-color: $element-color--lightest;
      }
    }
  }

  &--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $box-padding--medium $box-padding;

    // :root for extra specificity
    :root & h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &--description-list {
    dd,
    dt {
      display: inline-block;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      padding-right: $spacing-lg;
    }
  }

  &__title-container {
    display: flex;
  }

  &__title-icon {
    margin-right: 0.5rem;
    margin-top: -3px;
  }

  &__title {
    @include font-size-lg;
  }

  &--button {
    flex-shrink: 0;
  }

  &--icon {
    color: $text-color;
    width: 1.6rem;
    height: 0.8rem;

    &.-is-open {
      transform: rotate(180deg);
    }
  }

  &--content {
    overflow: hidden;
    padding: 0 $box-padding--small $box-padding--small;

    @include screen-md {
      padding: 0 5rem 2rem 2.5rem;
    }

    &-area > .content-area-item:last-child {
      margin-bottom: 0;
    }

    > p {
      font-style: italic;
    }
  }
}
