.sticky-menu {
  position: relative;
  height: 100%;
  padding-bottom: $spacing-xl;
  ul {
    @include remove-list-styles;
    padding: ($spacing-sm / 2) 0;
    margin: 0;
  }

  li {
    padding: ($spacing-sm / 2) 0;
  }

  &--content {
    @include font-size-sm;
    position: sticky;
    top: $spacing-xl;
    background-color: $element-color--lightest;
    padding: $spacing-md;
    max-height: calc(100vh - #{$spacing-xl});
    overflow-y: scroll;

    @include screen-sm {
      padding: $spacing-md $box-padding;
    }
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &--toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    color: $background-color;
  }

  &--toggle-icon {
    @media print {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  &__sub-links {
    margin-left: $spacing-md;
  }

  nav {
    padding: $spacing-md;
    padding-top: $spacing-xl;

    @include screen-sm {
      padding: $spacing-md 0;
      padding-top: $spacing-xl;
    }
  }

  h3 {
    margin: 0;
    line-height: 1;
    flex-grow: 1;
  }

  h4 {
    margin: $spacing-lg 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
