.sticky-menu-item {
  &__link-with-sublinks {
    display: flex;
    justify-content: space-between;
  }

  &--toggle-sub-links {
    right: 0;
    display: flex;
    justify-content: center;
    line-height: 1;
    padding: 0;
    height: 24px;
    min-width: 42px;
    color: white;
    background-color: $background-color;
    border-radius: 200px;

    svg {
      width: 12px;
    }

    &.-theme-outline-button {
      background-color: transparent;
      color: $background-color;
      border: 1px solid $focus-color;
    }

    &.-is-active {
      &.-theme-outline-button {
        background-color: transparent;
      }

      transform: rotate(-180deg);
      background-color: $focus-color;
    }
  }
}
