.event-image {
  display: inline-block;

  @include screen-md {
    width: 100%;
  }

  &--image {
    margin-left: auto;
    width: auto;
    min-height: inherit;

    max-height: 100%;

    @include screen-md {
      height: 100%;
    }
  }
}
