.menu {
  position: relative;
  height: 100%;
  background-color: $background-color;
  color: white;
  padding: $spacing-lg;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 0.5s $ease-out, visibility 0s 0.5s;
  box-shadow: -2px 0 8px rgba(black, 0.2);

  @include screen-md {
    padding: 36px $spacing-xl $spacing-xl; // Hard coded value to please the designer 🤷‍
  }

  &.-is-open {
    transition-delay: 0s;
    transform: none;
    visibility: visible;
  }

  a {
    text-decoration: none;
  }

  &--wrapper {
    margin-left: auto;
    width: 90%;
    max-width: 400px;
    height: 100%;

    @include screen-md {
      max-width: none;
      width: $menu-width-lg;
    }
  }

  &--content {
    max-width: 330px;
  }

  &--header {
    display: flex;
    flex-wrap: wrap;
  }

  &--close {
    color: white;
    text-transform: uppercase;
    height: 2rem;
    margin-top: $spacing-md;
  }

  &--links {
    margin-left: auto;

    ul {
      @include remove-list-styles;
      display: flex;
      flex-direction: column;
      margin: $spacing-sm 0 0;
    }

    li {
      padding: 0;
      border: none;
      padding-left: $spacing-md;
      text-align: right;
      margin: $spacing-xs 0;

      a:not(.-has-icon-right) {
        margin-right: 12px;
      }
    }

    @include screen-lg {
      display: none;
    }
  }
}
