.navigation-group {
  margin-top: $spacing-xxl;

  h2 {
    @include font-size-xl;
    position: relative;
    font-weight: bold;
    padding-bottom: $spacing-lg;
    margin: 0 0 $spacing-md;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 40px;
      background-color: $focus-color;
    }
  }

  > ul {
    @include remove-list-styles;
    @include font-size-lg;
    margin: 0;

    > li {
      padding: $spacing-sm 0;
      border-bottom: 1px solid $element-color--darker;
    }
  }
}
