.navigation-list {
  &__toggle {
    width: 100%;
    color: $element-color--dark;
    font-size: inherit;
    z-index: 1;

    &.-is-active > .icon {
      color: white;
      transform: rotateZ(-180deg);
    }

    &-text {
      text-align: left;
      margin-right: auto;
      color: white;
    }
  }

  @include cursor-screen-only {
    &__toggle:hover + &__hover-effect {
      display: block;
    }

    &__toggle:hover .icon {
      color: white;
    }
  }

  &__content {
    @include font-size-sm;
    padding-left: $spacing-md;
  }
}
