.contact-list-item {
  padding: 1rem 0;

  &:first-child {
    padding-top: 0;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $element-color--light;
  }

  &--title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;

    @include screen-md {
      width: 50%;
    }
  }

  &--info {
    font-size: convert-to-rem(16px);

    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    @include screen-md {
      display: flex;

      & > div {
        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          hyphens: auto;
          width: 35%;
        }
        &:nth-child(3) {
          margin-left: 1rem;
          width: 20%;
          text-align: end;
        }
      }
    }
  }
}
