.info-block {
  height: 100%;
  font-size: convert-to-rem(16px);
  padding: $box-padding;

  @media print {
    border: 1px solid;
  }

  h2 {
    position: relative;
    margin: 0;

    &:not(.-has-link) {
      padding-bottom: $spacing-lg;

      &:after {
        @include orange-bar;
        bottom: 3px; // Magic number to make the bar align optically
        left: 0;
      }
    }

    a {
      align-items: baseline !important;
    }
  }

  &--title-icon {
    flex-shrink: 0;
    color: $focus-color;
    margin-right: $spacing-sm;
  }

  &--icon {
    margin-top: -$spacing-sm;
    margin-bottom: $spacing-md;
    width: $spacing-xl;
    height: $spacing-xl;

    @include screen-sm {
      width: $spacing-xxl;
      height: $spacing-xxl;
    }

    & + h2:after {
      left: 9px;

      @include screen-sm {
        left: $spacing-md;
      }
    }
  }

  &--text {
    margin-top: $spacing-md;
  }

  &--cta-button {
    margin-top: $spacing-md;
  }

  &.-theme-blue {
    background-color: $element-color--lightest;
  }

  &.-theme-dark-blue {
    background-color: $background-color;
    color: white;

    a {
      color: white;

      &:hover {
        color: white;
      }
    }

    .button {
      box-shadow: inset 0 0 0 1px $focus-color;
    }
  }

  &.-theme-orange {
    border: 1px solid $focus-color;
    border-radius: $border-radius-md;
  }
}
