﻿@using Creuna.ContentTypeMatcher.Translations
@inherits System.Web.Mvc.WebViewPage
<div class="epi-contentArea">
    <h1 class="EP-prefix">@MatcherTranslations.Heading</h1>
    <p class="EP-systemInfo">@MatcherTranslations.Description</p>
    @if (ViewBag.Error != null)
    {
        <div class="EP-systemMessage EP-systemMessage-Warning" title="@ViewBag.ErrorDetails">
            <b>@ViewBag.Error</b>
        </div>
        <br />
    }
</div>
<div class="epi-tabView">
    <ul class="epi-tabView-navigation">
        <li class="@GetClassForTabListItem("MissedPropsAndTypes")"><a class="epi-tabView-tab" href="@Url.Action("MissedPropsAndTypes", "ContentTypeMatcher")" target="_self">@MatcherTranslations.TabNameMissedPropsAndTypes</a></li>
        <li class="@GetClassForTabListItem("ContentTypeUsages")"><a class="epi-tabView-tab" href="@Url.Action("ContentTypeUsages", "ContentTypeMatcher")" target="_self">@MatcherTranslations.TabNameContentTypeUsages</a></li>
    </ul>
</div>
<br />

@functions
{
    string GetCurrentTab()
    {
        return ViewBag.CurrentTab as string;
    }

    string GetClassForTabListItem(string tab)
    {
        var @class = "epi-tabView-navigation-item";

        if (tab == GetCurrentTab())
        {
            @class += "-selected";
        }

        return @class;
    }

}