﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Creuna.ContentTypeMatcher.Translations
@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Core
@inherits WebViewPage<Creuna.ContentTypeMatcher.ViewModels.ContentUsagesViewModel>

<div class="epi-contentContainer epi-padding">
    @Html.Partial("_header", Model)
    <div class="epi-formArea epi-contentContainer">
        <div class="epi-paddingVertical-small epi-size3">
            <form method="get">
                <div>
                    @Html.LabelFor(x => x.ContentTypeId)
                    @Html.DropDownListFor(x => x.ContentTypeId, Model.ContentTypeSelectItems, new { onchange = "this.form.submit()" })
                </div>
            </form>
        </div>
    </div>

    @if (Model.ContentType != null)
    {
        <table class="epi-default" style="width: 100%">
            <caption>@string.Format(MatcherTranslations.ContentItemsCaptionTemplate, Model.ContentType.Name, Model.ContentType.TotalUsagesCount)</caption>
            <thead>
                @if (Model.Paging != null && Model.Paging.Enabled)
                {
                    <tr class="epipager">
                        <td colspan="@(Model.ContentType.IsBlock ? 5 : 4)">
                            @Html.Raw(@Html.Paging(@Model.Paging.Pager, Model.Paging.ActionName, Model.Paging.RouteValues))
                        </td>
                    </tr>
                }
                <tr>
                    <th>@MatcherTranslations.IdColumn</th>
                    <th>@MatcherTranslations.LinkColumn</th>
                    <th>@MatcherTranslations.ReferencesCountColumn</th>
                    @if (Model.ContentType.IsBlock)
                    {
                        <th>@MatcherTranslations.IsLocalColumn</th>
                    }
                <th>@MatcherTranslations.IsExpiredColumn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usage in Model.ContentType.Usages)
                {
                    var tdClass = usage.NotActive == false ? "ui-priority-primary" : "ui-priority-secondary";
                    <tr>
                        <td class="@tdClass" title="@usage.ContentLink">@usage.ContentLink.ToReferenceWithoutVersion()</td>
                        <td class="@tdClass">
                            @if (usage.OwnerUrl != null)
                            {
                                <a href="@usage.OwnerUrl" target="_top">@usage.OwnerName</a>
                                <span>></span>
                            }

                            <a href="@usage.Url" target="_top">@usage.Name</a>
                        </td>
                        <td class="@tdClass">@usage.ReferencesCount</td>
                        @if (Model.ContentType.IsBlock)
                        {
                            <td class="@tdClass">@usage.IsLocal</td>
                        }
                        <td class="@tdClass">@usage.IsExpired</td>
                    </tr>
                }
                @if (Model.Paging != null && Model.Paging.Enabled)
                {
                    <tr class="epipager">
                        <td colspan="@(Model.ContentType.IsBlock ? 5 : 4)">
                            @Html.Raw(@Html.Paging(@Model.Paging.Pager, Model.Paging.ActionName, Model.Paging.RouteValues))
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>
