﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Castle.Core.Internal
@using Creuna.ContentTypeMatcher.Translations
@inherits WebViewPage<Creuna.ContentTypeMatcher.ViewModels.MissedPropsAndTypesViewModel>

<script language="JavaScript">
    function toggleAllCheckobxesWithName(source, name) {
        var checkboxes = document.getElementsByName(name);
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = source.checked;
        });
    }

    function clickOn(event, elementId) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        var element = document.getElementById(elementId);
        if (element && element !== target) {
            element.click();
        }
    }
</script>

<div class="epi-contentContainer epi-padding">
    @Html.Partial("_header", Model)

    <div class="epi-formArea">
        @using (Html.BeginForm())
        {
            foreach (var contentType in @Model.ContentTypes)
            {
                <h4><span class="@(contentType.IsMissed ? "epimissingmodel" : "")" title="@contentType.ModelName"> @contentType.Name</span><br /></h4>
                if (!contentType.Description.IsNullOrEmpty())
                {
                    <div>@contentType.Description</div>
                }
                if (contentType.IsMissed)
                {
                    if (!contentType.Usages.IsNullOrEmpty())
                    {
                        <div class="EP-systemMessage EP-systemMessage-None">
                            <b>@MatcherTranslations.Usages</b>
                            @for (var usageIndex = 0; usageIndex < contentType.Usages.Count; usageIndex++)
                            {
                                var usage = contentType.Usages[usageIndex];

                                if (usage.OwnerUrl != null)
                                {
                                    <a href="@usage.OwnerUrl" target="_top">@usage.OwnerName</a> <span>></span>
                                }

                                <a href="@usage.Url" target="_top">@usage.Name</a>

                                if (usageIndex < contentType.Usages.Count - 1)
                                {
                                    <span>|</span>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <span class="epi-cmsButton">
                            <input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Delete" type="submit" formaction="@Url.Action("DeleteContentType", new {ContentTypeId = contentType.ContentTypeId})" value="@MatcherTranslations.DeleteType" />
                        </span>
                        <br />
                    }
                }
                <br />
                <div><i>@MatcherTranslations.MissedProperties</i></div>
                <table class="epi-default">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@MatcherTranslations.Name</th>
                            <th>@MatcherTranslations.Type</th>
                            <th>@MatcherTranslations.Tab</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var property in contentType.MissedProperties)
                        {
                            var selectCheckboxId = "chbx-property-" + property.PropertyId;
                            <tr>
                                <td width="10px">
                                    <input type="checkbox" id="@selectCheckboxId" name="propertyIds" value="@property.PropertyId" />
                                </td>
                                <td onclick="clickOn(event, '@selectCheckboxId')">@property.Name</td>
                                <td title="@property.TypeModelName">
                                    @(@property.PropertyTypeIsBlock ? string.Format("Block ({0})", property.TypeName) : property.TypeName)
                                </td>
                                <td>@property.TabName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <label>
                <input type="checkbox" onclick="toggleAllCheckobxesWithName(this, 'propertyIds')" />@MatcherTranslations.SelectUnselectAllMissedProperties
            </label>
            <br />
            <br />
            <div class="epi-buttonContainer">
                <span class="epi-cmsButton">
                    <input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Delete" formaction="@Url.Action("DeleteProperties")" type="submit" value="@MatcherTranslations.DeleteProperties" />
                </span>
            </div>
        }
    </div>
</div>