.text-with-sidebar {
  border-top: 1px solid $element-color--lighter;
  padding-top: $spacing-lg;

  h4 {
    @include font-size-body;
    margin-bottom: 0.3em;
    color: $element-color--darker;
  }

  &--title {
    margin-top: 0;
    margin-bottom: $spacing-sm;
  }

  &--links {
    border-top: 1px solid $element-color--lighter;
    padding-top: 0.25rem;
    margin-bottom: 1.5rem;
  }

  &.-is-proposal-page {
    border-top: 0;
    padding-top: 0;
  }

  &.-without-sidebar {
    display: block;
  }
}
