.image-with-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-color;
  text-decoration: none;

  @media print {
    border: 1px solid;
  }

  &--image {
    overflow: hidden;
    background-color: $element-color--lightest;
  }

  &--image-inner {
    position: relative;
    width: 100%;
    padding-top: 65%;
    transition: transform $ease-out 0.6s;

    @media print {
      padding-top: 0;
    }

    .image-with-link:hover &.-hover-effect-active {
      transform: scale(1.1);
    }

    &.--absolute-height {
      padding-top: 11.5rem;
    }
  }

  &--text {
    @include font-size-body;
    position: relative;

    .image-with-link:hover & {
      text-decoration: underline;
    }

    width: 100%;
    background-color: $background-color;
    font-weight: bold;
    color: white;
    padding: $spacing-lg $spacing-md;
  }
}
