.contact-block {
  padding: $box-padding;
  background-color: $element-color--lightest;
  height: 100%;

  h2 {
    position: relative;
    padding-bottom: $spacing-lg;
    margin-top: 0;

    &:before {
      @include orange-bar;
    }
  }

  > ul {
    @include remove-list-styles;
  }
}
