.sticky-menu-on-tabs {
  position: relative;
  height: 100%;
  padding-bottom: $spacing-xl;

  ul {
    @include remove-list-styles;
    padding: ($spacing-sm / 2) 0;
    margin: 0;
  }

  li {
    padding: ($spacing-sm / 2) 0;
  }

  &--content {
    @include font-size-sm;
    position: sticky;
    top: 0;
    margin-top: -$spacing-xl;
    max-height: calc(100vh - #{$spacing-xl});
  }

  &--title {
    margin-top: $spacing-xl;
  }

  &--title-link {
    display: inline-block;
    margin: $spacing-lg 0 0;
    font-size: 1rem;
    font-weight: 600;

    &:first-of-type {
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: $spacing-md;
    }
  }
}
