.auto-grid {
  list-style: none;
  padding: 0;

  @include notIE {
    &.-theme-grid {
      display: grid;
      column-gap: $spacing-lg;
      row-gap: $spacing-lg;
    }
  }

  @include IE {
    &.-theme-grid {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      box-sizing: border-box;
      border: 0 solid transparent;
    }
  }
}
