.proposal-list-page {
  @include font-size-sm;

  &__hide-underline-overflow {
    overflow-x: hidden;
  }

  &__tab-list {
    display: block;
    margin: 0;

    &:before {
      //Override underline style from <TabList />
      left: -50vw !important;
      width: 150vw !important;
    }
  }
}
