.proposal-group {
  margin-top: $spacing-lg;

  &--header {
    background-color: $background-color;
    padding: $box-padding--small;
    color: white;

    h2 {
      margin: 0;
      font-size: inherit;
      font-weight: bold;
      color: white;
    }

    > p {
      margin: 0;
    }

    &--button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      color: white;
    }
    &--icon {
      &.-is-open {
        transform: rotate(180deg);
      }
    }
  }

  &--content {
    overflow: hidden;
  }

  &--text {
    margin-top: $spacing-md;
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }

  &--toggle {
    @include font-size-sm;
    margin-top: $spacing-lg;
  }
}
