.footer {
  background-color: $background-color;
  margin-top: $spacing-xxl;
  padding: $spacing-lg 0 $spacing-xxl;

  @media print {
    display: none;
  }

  &--content {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }

  &--info-links {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include screen-md {
      text-align: right;
    }
  }

  &--social-media-link-list {
    margin-bottom: $spacing-lg;
    justify-content: flex-end;

    @include screen-md-max {
      margin-left: 0 !important;
      justify-content: flex-start;
    }
  }

  &--contact-info,
  &--link-list,
  &--info-links {
    padding-top: $spacing-lg !important;
    padding-right: $spacing-md !important;
    width: 100%;

    @include screen-sm {
      width: 50%;
    }

    @include screen-xl {
      width: 250px;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
      width: 25%;
    }
  }

  &--newsletter-link {
    text-decoration: none !important;
    margin-top: $spacing-lg;
  }

  h2 {
    @include font-size-xs;
    font-weight: bold;
    margin: 0;
  }

  div,
  p,
  a {
    @include font-size-xs;
  }

  a {
    text-decoration: underline;
  }

  ul {
    @include remove-list-styles;
    margin: 0;
  }

  h2,
  li {
    margin-bottom: $spacing-xs;
  }
}
