.filter-group {
  position: relative;
  border-bottom: 1px solid $element-color--light;

  &__toggle {
    width: 100%;
    padding: 21px 15px 21px 0;
    border-radius: 25px;

    &-text {
      margin-right: auto;
    }

    &.-is-active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      & > .icon {
        transform: rotateZ(-180deg);
      }
    }

    &.-is-deactive {
      @include delay(
        0,
        25px,
        0.5s,
        70%,
        border-bottom-left-radius,
        border-bottom-right-radius
      );
    }
  }

  &--options,
  &--sub-options {
    @include remove-list-styles;
    margin: 0;
  }

  &--sub-options {
    padding: $spacing-sm 0 0 $spacing-lg;
  }

  &__content {
    padding: $spacing-sm 0 $spacing-lg;

    li {
      margin-bottom: $spacing-sm;
    }
  }

  &__submit {
    width: 100%;
    margin-top: $spacing-lg;
  }
}

.filter-group-open {
  margin-top: $spacing-md;

  &:first-child {
    margin-top: 0;
  }

  &__title {
    @include font-size-body;
    margin: $spacing-lg 0 $spacing-md 0;
  }

  &--options,
  &--sub-options {
    @include remove-list-styles;
    margin: 0;
  }

  &--sub-options {
    padding: $spacing-sm 0 0 $spacing-lg;
  }

  &__content {
    li {
      margin-bottom: $spacing-sm;
    }
  }
}
