.filters {
  position: relative; //Needed for backgroud-hover-effect
  display: flex;
  flex-direction: column;

  &--close {
    position: sticky;
    top: 0;
    font-size: convert-to-rem(24px);
    width: 100%;
    background: white;
    padding: $spacing-lg;
    border-bottom: 1px solid $element-color--light;
    z-index: 1;

    &-text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--filters {
    @include screen-lg-max {
      padding: $spacing-lg;
      flex: 1;
      padding-top: 0;
    }
  }

  &--deselect-button {
    margin-top: $spacing-md;
    text-decoration: underline;
    @include screen-lg {
      display: none;
    }
  }

  &--title {
    @include font-size-body;
    font-weight: bold;
    margin: $spacing-lg 0;
  }

  &--checkbox {
    margin-top: $spacing-xl;
    padding: 0 $spacing-md;

    @include screen-lg {
      padding: 0;
    }
  }

  &--range {
    margin-top: $spacing-xl;
  }

  &--show-results {
    position: sticky;
    bottom: 0;
    background: white;
    border-top: 1px solid $element-color--light;
    padding: $spacing-lg;
    z-index: 1;

    & > .button {
      width: 100%;
    }
  }
}
