blockquote {
  position: relative;
  padding-left: $spacing-xxl;
  margin: $spacing-xl 0;

  > p {
    @include font-size-xl;
    line-height: 1.33;
    font-family: 'Source Serif Pro', serif;
    color: $element-color--darker;

    &:before {
      content: '“';
      z-index: -10;
      position: absolute;
      left: 0;
      color: $element-color--lightest;
      font-size: convert-to-rem(250px);
      line-height: 180px;
    }

    &:after {
      content: '';
    }
  }

  cite {
    @include font-size-body;
    font-weight: bold;
    font-style: normal;
    color: $element-color--darker;
    display: block;
    margin: $spacing-sm 0;
  }
}
