.components {
  display: flex;

  &--list {
    padding: 0;
    margin-top: 0;
    margin-right: 2rem;
    height: 100%;

    &-item {
      list-style-type: none;
      border-bottom: 1px solid $element-color--dark;

      &-button {
        display: flex;
        padding: 0.5rem 1rem;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        align-items: center;

        & span:nth-child(2) {
          margin-left: 1rem;
          color: $element-color--darker;
        }
      }
    }

    &-sort-button {
      font-weight: 600;
      margin: 1rem;
      cursor: pointer;
      &:nth-child(2) {
        color: $element-color--darker;
      }
    }
  }

  &--component {
    &-title {
      width: 100%;
      font-weight: 600;
      margin-bottom: 6px;
    }

    &-description {
      margin-top: 0;
    }

    &-version-title {
      width: 100%;
    }
  }

  .content-area-item > .event-image {
    position: relative;
    width: 12rem;
    height: 12rem;
  }
}
