.accordion-with-content-area-old {
  @media print {
    // NOTE: Force visibility of collapsed content when printing
    > div {
      height: auto !important;
      overflow: visible !important;
      visibility: visible !important;
    }
  }

  &--header {
    background-color: $element-color--lightest;
    &:hover {
      background-color: $element-color--light;
    }

    &--disabled {
      color: $element-color;
      &:hover {
        background-color: $element-color--lightest;
      }
    }
  }

  &--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-md $spacing-lg;

    // :root for extra specificity
    :root & h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &--description-list {
    dd,
    dt {
      display: inline-block;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      padding-right: $spacing-lg;
    }
  }

  &--button {
    flex-shrink: 0;
  }

  &--icon {
    color: $link-color;

    &.-is-open {
      transform: rotate(180deg);
    }
  }

  &--content {
    overflow: hidden;
    padding: 0 $spacing-lg $spacing-lg;

    > p {
      font-style: italic;
    }
  }

  &--content-area {
    margin-top: $spacing-xl;
  }
}
