.html-string {
  :root & {
    // When rendered in content areas, floating is disabled by default. This enables floating so that texts can be rendered beside floated content.
    clear: none;
  }

  &.-theme-narrow {
    max-width: $content-width-sm;
    margin-left: auto;
    margin-right: auto;
  }

  &.-theme-white {
    color: white;

    a,
    a:hover {
      color: inherit;
    }
  }

  a {
    color: $link-color;

    &:hover {
      color: black;
    }
  }

  // NOTE: Editors should under no circumstance use the h1 tag. This styling will hopefully prevent them from doing so ✌️
  h1 {
    position: relative;
    font-size: convert-to-rem(100px);
    color: fuchsia;
    font-weight: bold;
    font-family: 'Comic Sans MS', Impact, monospace;
  }

  h3 {
    @include font-size-lg;
  }

  h4,
  h5,
  h6 {
    @include font-size-body;
  }

  h5 {
    margin-top: $spacing-lg;
    font-weight: normal;
  }

  h6 {
    margin-top: $spacing-lg;
  }

  h4,
  h5 {
    color: $element-color--darker;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;

    & + p {
      margin-top: $spacing-xs;
    }
  }

  h2 {
    margin-top: $spacing-xl;

    & + p {
      margin-top: $spacing-sm;
    }
  }

  h5 {
    & + p {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: $spacing-lg;

    li {
      margin-top: $spacing-sm;
    }
  }

  kbd,
  code,
  pre,
  samp {
    padding: $spacing-xs $spacing-sm;
    background-color: $element-color--lightest;
    border-radius: 4px;
    white-space: pre-wrap;
  }

  hr {
    border: none;
    border-bottom: 1px solid $element-color--light;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: $spacing-md;
  }

  mark {
    padding: 0 $spacing-xs;
    border-radius: 4px;
  }
}
