.campaign-block {
  position: relative;
  background-color: $element-color--lightest;
  flex: 1;

  @include screen-md {
    display: flex;
  }
  &.-theme-dark-blue {
    background-color: $background-color;
    color: white;
  }
  &--title {
    @include fluid-type(21px, 24px);
    font-weight: normal;
    margin-top: 0;
    line-height: 1.4;
  }

  &.-is-column {
    flex-direction: column;

    .campaign-block--image {
      width: 100%;
    }

    .campaign-block--text {
      min-height: 50%;
      width: 100%;
    }
  }

  &--image {
    position: relative;
    width: 50%;
  }

  &--text {
    padding: $spacing-xl;
    flex: 1;
    @include screen-md {
      padding: 40px;
    }

    .button {
      font-size: convert-to-rem(16px);
    }
  }
}
