.message {
  background-color: $yellow;
  padding: 13px;

  &.-theme-red {
    background-color: $red;
  }

  &.-theme-blue {
    background-color: $blue-light;
    color: black;
  }

  &--content {
    display: flex;
    align-items: center;

    @include screen-md {
      max-width: 800px;
      margin: auto;
    }
  }

  &--text {
    @include font-size-body;
  }

  a {
    color: inherit;
  }
}
