.grouped-search-page-link {
  &.-is-current {
    font-weight: bold;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

  &.-has-no-link {
    color: $element-color;

    &:hover {
      color: $element-color;
      text-decoration: none;
    }
  }
}
