﻿@using EPiServer.Framework.Web.Resources

@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @ShellResources()
</head>
<body>
    @RenderBody()
</body>
</html>

@functions
{
    IHtmlString ShellResources()
    {

        return new HtmlString(
        ClientResources.RenderResources("ShellCore") +
        ClientResources.RenderResources("ShellCoreLightTheme") +
        "<link href = \"/App_Themes/Default/Styles/System.css\" rel = \"stylesheet\" />" +
        "<link href = \"/App_Themes/Default/Styles/ToolButton.css\" rel = \"stylesheet\" />"
        );
    }
}