.link-with-text {
  h3 {
    @include font-size-body;
    margin: 0;
    line-height: 1.2;
    font-weight: normal;
  }

  p {
    @include font-size-sm;
    margin: 0;
    margin-top: $spacing-sm;
  }

  &.-theme-big {
    h3 {
      @include font-size-lg;
    }

    p {
      @include font-size-body;
    }
  }

  &.-theme-portfolio {
    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
