.search-result-group {
  margin-bottom: $spacing-xxl;

  &:not(:first-child) {
    .search-result-group--title {
      margin-top: $spacing-lg;
    }
  }

  &--title {
    display: block;
    background-color: $background-color;
    width: 100%;
    padding: $spacing-sm $spacing-md;

    h3 {
      @include font-size-xl;

      font-weight: normal;
      margin: $spacing-sm 0;
    }

    h2 {
      @include font-size-xl;
      margin: 0;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
    }
  }
}
