.table {
  overflow-x: auto;
}

// Defined globally in order to also affect tables in XHtml strings
table {
  @include font-size-sm;
  min-width: 100%;
  border-collapse: collapse;

  tr {
    vertical-align: top;
  }

  td,
  th {
    padding: $spacing-xs $spacing-sm;
  }

  td {
    border: 1px solid $element-color--light;

    &.-is-number {
      white-space: nowrap;
    }
  }

  th,
  thead td {
    text-align: left;
    background-color: $background-color;
    color: white;
    border: 1px solid $background-color;
    vertical-align: bottom;

    &:not(:last-child) {
      border-right: 1px solid $element-color--light;
    }
  }
}
