.content-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width-lg;

  @media print {
    max-width: none;
    width: none;
    margin: 0;
  }

  &.-theme-narrow {
    max-width: $content-width-sm;
  }

  &.-theme-medium {
    max-width: $content-width-md;
  }

  &.-theme-wide {
    max-width: $content-width-xl;
  }
}
