.link {
  text-decoration: none;

  &:link,
  &:visited {
    color: $link-color;

    &.-is-external-link {
      @include external-link-style;
    }
  }

  //text-decorations cannot be overriden, so underline-effect exists within optional class
  &.-has-hover-effect:link:hover,
  &.-has-hover-effect:visited:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &.-has-icon-left,
  &.-has-icon-right {
    display: inline-flex;
    align-items: center;
  }

  &.-has-children.-has-icon-left {
    svg {
      margin-right: $spacing-sm;
    }
  }

  &.-has-children.-has-icon-right {
    svg {
      margin-left: $spacing-sm;
    }
  }

  &.-theme-underline {
    text-decoration: underline;
  }

  &.-theme-black {
    color: black;
  }

  &.-theme-bold {
    font-weight: bold;
  }

  &.-theme-white {
    color: white !important;
  }

  &.-theme-full-width {
    display: block;
  }

  &.-theme-orange-tag {
    border-color: $focus-color !important;
    color: $background-color !important;

    &:hover {
      background-color: $focus-color !important;
      border-color: $focus-color !important;
      text-decoration: none !important;
    }
  }

  &.-theme-orange-icon {
    svg {
      color: $focus-color;
    }
  }

  &.-theme-inline-icon {
    display: inline-block;

    svg {
      display: inline-block;
    }
  }

  &.-theme-small {
    @include font-size-sm;
  }

  &.-theme-tag {
    @include font-size-xs;
    display: inline-block;
    border: 1px solid $element-color--lighter;
    background-color: $element-color--lighter;
    border-radius: 20px;
    padding: 5px 10px;
    color: $element-color--darker;
    line-height: 1;
    text-decoration: none;

    &:link,
    &:visited {
      border: 1px solid $element-color;
      background-color: transparent;
    }

    &:link:hover,
    &:visited:hover {
      background-color: $element-color--darker;
      border-color: $element-color--darker;
      color: white;
    }
  }

  &.-theme-portfolio {
    color: black;
    font-size: 1.4rem;
    display: flex;
    word-break: break-word;
    align-items: baseline;
    line-height: 1.2;

    & > .icon {
      flex: none;
      height: 1rem;
      width: 1rem;
    }
  }

  &-line {
    display: block;
  }
}
