.large-documents-page {
  margin-top: $spacing-lg;

  @include screen-md {
    margin-top: $spacing-xxl;
  }

  &--ingress {
    @include font-size-lg;
    margin-top: $spacing-lg;
    line-height: 1.45;
    border-bottom: 1px solid $element-color--light;
  }

  &--footer {
    margin-top: $spacing-xl;
  }

  h1 {
    margin: 0;
  }
}
