.input-email {
  &.-invalid {
    input {
      border: 3px solid #e03600 !important;
      box-shadow: unset !important;
      background: #fdf0ed;
    }
    .icon {
      color: $text-color;
    }
  }
  & input {
    width: 20rem;
    max-width: 100%;
    @include font-size-xl;
  }

  &--error {
    @include font-size-body;
    font-weight: 600;
    margin-top: $spacing-xs;
  }
}
