.document-icon {
  &__icon {
    width: 42px;
    height: 52px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.-size-xsmall {
      width: 24px;
      height: 34px;
    }

    &.-size-small {
      width: 32px;
      height: 42px;
    }

    &.-size-large {
      width: 56px;
      height: 66px;
    }

    &.-size-xlarge {
      width: 88px;
      height: 110px;
    }
  }
}
