.date-card-tags {
  // NOTE: Do not use flexbox here. It messes up everything in IE11
  @include cf;
  grid-area: tags;
  margin: $spacing-md 0 0;

  &-item {
    float: left;
    margin-right: $spacing-xs;
    margin-top: $spacing-xs;
  }

  &-button {
    @include font-size-sm;
    margin-left: $spacing-sm;
    margin-top: 2px;
  }
}
