.accordion-with-content-area-list {
  &--tag-list {
    margin-bottom: $spacing-md;
    &-item {
      @include font-size-xs;
      display: inline-block;
      background: $element-color--lighter;
      color: $element-color--darker;
      padding: $spacing-xs $spacing-md;
      border-radius: 32px;
      font-weight: 600;
      margin: 0 $spacing-xs $spacing-xs 0;
    }
  }
}
