.share-options {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  padding: $spacing-lg;

  &__close-button {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    padding: $spacing-sm $spacing-sm 0 0;

    &--icon {
      color: $link-color;
      &:hover {
        color: black;
      }
    }
  }

  &__options {
    @include font-size-sm;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: white;
  }

  &__link-container {
    @include screen-sm {
      width: 100px;
    }
    width: 50px;
    margin-right: $spacing-xxl;
    margin-top: $spacing-sm;
    &:nth-child(-n + 2) {
      margin-top: 0;
    }
  }

  &__link {
    a {
      display: inline-flex;
      color: $link-color;
      align-items: center;
      text-decoration: none;

      &:hover {
        color: $text-color;
        text-decoration: underline;
      }
    }

    svg {
      margin-right: $spacing-sm;
    }
  }

  &__copy {
    @include screen-sm {
      display: flex;
    }
    width: 100%;
    display: block;
    margin-top: $spacing-md;
    align-items: center;
  }

  &__textarea {
    @include font-size-sm;
    @include screen-sm {
      margin-right: $spacing-lg;
      width: 70%;
      padding: $spacing-sm $spacing-md;
    }
    border: 1px solid $focus-color;
    width: 100%;
    padding: $spacing-sm;
    resize: none;
  }

  &__copy-button {
    @include screen-sm {
      margin: 0;
    }
    margin-top: $spacing-sm;
    float: right;
  }
}
