﻿@using System.Globalization
@using Forskningsradet.Web
@using Forskningsradet.Core.Models.ContentModels.Pages
@model BasePageViewModel

@{
    var styleCss = string.Empty;
    switch (Model.LayoutViewModel.ColorTheme)
    {
        case ColorTheme.RFF:
            styleCss = ReactConfig.Manifest.RffCss;
            break;
        case ColorTheme.Nysgjerrigper:
            styleCss = ReactConfig.Manifest.NpCss;
            break;
        case ColorTheme.Kilden:
            styleCss = ReactConfig.Manifest.KildenCss;
            break;
        default:
            styleCss = ReactConfig.Manifest.ForskningsradetCss;
            break;
    }
    var useFallbackIcons = Model.LayoutViewModel.UseFallbackIcons;
}

@functions
{
    public static string GetFaviconUrl(string faviconOverride, string faviconFallbackUrl, bool useFallback)
    {
        return useFallback
            ? faviconOverride ?? faviconFallbackUrl
            : faviconOverride;
    }
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    @if (Model.LayoutViewModel.EnableTrackingScripts)
    {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', '@Model.LayoutViewModel.GoogleTagManagerId');
        </script>
        <!-- End Google Tag Manager -->
    }

    @if (Model.LayoutViewModel.EnableApsisMarketingAutomationScript)
    {
        <!-- Apsis marketing automation -->
        <script type='text/javascript'>(function (d) { var apc = d.createElement('script'), fs; apc.type = 'text/javascript'; apc.charset = 'UTF-8'; apc.async = true; apc.src = 'https://static.ws.apsis.one/live/p/1700/0df58fe0.js'; fs = d.getElementsByTagName('script')[0]; fs.parentNode.insertBefore(apc, fs); })(document);</script>
    }

    @if (Model.MetadataViewModel?.SeoSettings != null)
    {
        Html.RenderPartial("Metadata", Model.MetadataViewModel);
    }
    else
    {
        <title>Forskningsrådet</title>
    }

    <link href="@Url.Content(styleCss)" rel="stylesheet" />

    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="@(Model.LayoutViewModel.FaviconIcoOverride ?? "/favicons/favicon.ico")">
    <link rel="icon" type="image/png" href="@(Model.LayoutViewModel.FaviconPng16Override ?? "/favicons/favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@(Model.LayoutViewModel.FaviconPng32Override ?? "/favicons/favicon-32x32.png")" sizes="32x32">
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconPng96Override, "/favicons/favicon-96x96.png", useFallbackIcons) is string fav96)
    {
        <link rel="icon" type="image/png" href="@fav96" sizes="96x96">
    }
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconPng180Override, "/favicons/favicon-180x180.png", useFallbackIcons) is string fav180)
    {
        <link rel="apple-touch-icon" href="@fav180" sizes="180x180">
    }
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconPng192Override, "/favicons/favicon-192x192.png", useFallbackIcons) is string fav192)
    {
        <link rel="icon" type="image/png" href="@fav192" sizes="192x192">
    }
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconPng512Override, "/favicons/favicon-512x512.png", useFallbackIcons) is string fav512)
    {
        <link rel="icon" type="image/png" href="@fav512" sizes="512x512">
    }
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconPng150Override, "/favicon/favicon-150x150.png", useFallbackIcons) is string fav150)
    {
        <meta name="msapplication-TileColor" content="#ff0000">
        <meta name="msapplication-TileImage" content="@fav150">
    }
    @if (GetFaviconUrl(Model.LayoutViewModel.FaviconSvgOverride, "/favicons/favicon.svg", useFallbackIcons) is string favSvg)
    {
        <link rel="mask-icon" href="@favSvg" color="#ffffff">
        <link rel="icon" type="image/svg+xml" href="@favSvg" sizes="any">
    }

    @if (!Url.RequestContext.HttpContext.Request.Url.Equals(Model.LayoutViewModel.CanonicalUrl) && !string.IsNullOrEmpty(Model.LayoutViewModel.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.LayoutViewModel.CanonicalUrl" />
    }
</head>
<body>
    @if (Model.LayoutViewModel.EnableTrackingScripts)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@Model.LayoutViewModel.GoogleTagManagerId" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    @Html.RenderEPiServerQuickNavigator()
    @Html.React("Components.Header", Model.LayoutViewModel.Header)
    @if (Model.LayoutViewModel.Breadcrumbs != null)
    {
        @Html.React("Components.Breadcrumbs", Model.LayoutViewModel.Breadcrumbs)
    }
    @foreach (var message in Model.LayoutViewModel.GlobalMessages)
    {
        @Html.React("Components.Message", message)
    }
    <main role="main" id="main">
        @RenderBody()
    </main>
    @if (!Model.LayoutViewModel.HideFooter)
    {
        @Html.React("Components.Footer", Model.LayoutViewModel.Footer)
    }
    <script src="@Url.Content(ReactConfig.Manifest.VendorJs)"></script>
    <script src="@Url.Content(ReactConfig.Manifest.ClientJs)"></script>
    @Html.ReactInitJavaScript()
</body>
</html>