﻿@using System.Drawing
@using Forskningsradet.Core.Extensions
@using Forskningsradet.Core.Models.ViewModels.Shared
@model MetadataViewModel

@{
    var title = string.IsNullOrEmpty(Model.SeoSettings.Title)
        ? Model.Title
        : Model.SeoSettings.Title;

    var absoluteUrl = Url.AbsoluteUrl(Model.CurrentBasePage.ContentLink);

    var noIndexNoFollowText = Model.SeoSettings.MetaNoIndex && Model.SeoSettings.MetaNoFollow
        ? "noindex, nofollow"
        : Model.SeoSettings.MetaNoIndex
            ? "noindex"
            : Model.SeoSettings.MetaNoFollow
                ? "nofollow"
                : string.Empty;
}

@helper RenderPropertyIfNotEmpty(string propertyName, string value)
{
    if (!string.IsNullOrEmpty(value))
    {
        <meta property="@propertyName" content="@value" />
    }
}

<title>@title</title>
@if (!string.IsNullOrEmpty(Model.SeoSettings.MetaDescription) || !string.IsNullOrEmpty(Model.MainIntro))
{
    <meta name="description" content="@(Model.SeoSettings.MetaDescription ?? Model.MainIntro)" />
}
@if (!string.IsNullOrEmpty(noIndexNoFollowText))
{
    <meta name="robots" content="@noIndexNoFollowText" />
}

@RenderPropertyIfNotEmpty("og:title", Model.SeoSettings.OpenGraphTitle ?? title)
@RenderPropertyIfNotEmpty("og:description", Model.SeoSettings.OpenGraphDescription ?? Model.SeoSettings.MetaDescription ?? Model.MainIntro)
@RenderPropertyIfNotEmpty("og:url", absoluteUrl)
@RenderPropertyIfNotEmpty("og:type", Model.SeoSettings.OpenGraphType)
@RenderPropertyIfNotEmpty("og:image", Model.OpenGraphImage?.Url)
@if (Model.OpenGraphImage != null && Model.OpenGraphImage.Size != Size.Empty)
{
    <meta property="og:image:width" content="@Model.OpenGraphImage.Size.Width" />
    <meta property="og:image:height" content="@Model.OpenGraphImage.Size.Height" />
}
@RenderPropertyIfNotEmpty("twitter:card", "summary_large_image")
@RenderPropertyIfNotEmpty("twitter:image", Model.OpenGraphImage?.Url)
@RenderPropertyIfNotEmpty("fb:app_id", Model.FacebookAppId)
@RenderPropertyIfNotEmpty("twitter:site", Model.TwitterUser)
@RenderPropertyIfNotEmpty("idio:temaomrade", Model.Idio.Subjects)
@RenderPropertyIfNotEmpty("idio:malgruppe", Model.Idio.TargetGroups)
@RenderPropertyIfNotEmpty("idio:eventtype", Model.Idio.EventType)
@RenderPropertyIfNotEmpty("idio:soknadstype", Model.Idio.ApplicationType)