﻿@using System.Globalization
@using Forskningsradet.Core.Models.ReactModels
@using Forskningsradet.Web
@model ErrorPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ErrorCode</title>
    <link href="@Url.Content(ReactConfig.Manifest.ForskningsradetCss)" rel="stylesheet" />
</head>
<body>
    <main role="main" id="main">
        @Html.React("Components.ErrorPage", Model)
    </main>
    <script src="@Url.Content(ReactConfig.Manifest.VendorJs)"></script>
    <script src="@Url.Content(ReactConfig.Manifest.ClientJs)"></script>
    @Html.ReactInitJavaScript()
</body>
</html>