.tag-link-list {
  margin: $spacing-md 0 0;
  text-align: center;

  &--left-align {
    text-align: left;
  }

  &--tag {
    margin-right: $spacing-xs;
    margin-top: $spacing-xs;

    &.-inactive {
      background-color: $element-color--lighter !important;
      border-color: $element-color--lighter !important;

      &:hover {
        background-color: $element-color--lighter !important;
        border-color: $element-color--lighter !important;
      }
    }
  }
}
