.download-list {
  &__heading {
    @include font-size-body;
    font-weight: bold;
    margin-bottom: $spacing-md;
    margin-top: 0;
  }
  li,
  ul {
    @include remove-list-styles;
  }
  li {
    line-height: 1.3;
    border-top: 1px solid $element-color--light;

    &:last-child {
      border-bottom: 1px solid $element-color--light;
    }

    &:hover,
    :focus {
      background-color: $element-color--lightest;
    }

    &:hover,
    :focus .download-list__item-text {
      text-decoration: underline;
    }

    a {
      padding: $spacing-md 10px;
    }
  }

  &__group {
    margin: $spacing-lg 0 $spacing-lg 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      width: 75%;
      color: black;
    }
  }

  &__download-icon {
    width: 32px;
    height: 32px;
    .-theme-narrow & {
      width: 24px;
      height: 24px;
    }
  }
}
