﻿@using System.Web.Mvc.Html
@using Forskningsradet.Core.Models.RequestModels;
@inherits System.Web.Mvc.WebViewPage<FileReportViewModel>

@{
    Layout = "~/AdminTools/_AdminToolLayout.cshtml";
    var text = $"Viser {Model.Index} - {Model.Index + Model.Interval} av {Model.TotalMatching}. (Elapsed time: {Model.Time} ms)";
}

<h1>Filrapport</h1>

@if (Model.Index - Model.Interval >= 0)
{
    <button>
        @Html.ActionLink("Tilbake", "Move", new { Index = Model.Index - Model.Interval })
    </button>
}

@if (Model.Index + Model.Interval < Model.TotalMatching)
{
    <button>
        @Html.ActionLink("Neste", "Move", new { Index = Model.Index + Model.Interval })
    </button>
}

<p>@text</p>

<table>
    <thead>
        <tr>
            <th width="30">Id</th>
            <th width="250">Filnavn</th>
            <th width="10">References</th>
            <th width="30">Info</th>
            <th width="250">Mappenavn</th>
            <th width="15">ParentId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Files)
        {
            <tr id="@file.Id">
                <td>@file.Id</td>
                <td><a href="@file.Link">@file.FileName</a></td>
                <td>@file.ReferenceCount</td>
                <td>@file.Info</td>
                <td>@string.Join(" > ", file.Folders)</td>
                <td>@file.ParentId</td>
            </tr>
        }
    </tbody>
</table>