.search {
  background-color: $element-color--lightest;
  width: 100%;

  padding: $spacing-lg;

  @include screen-md {
    padding: $spacing-xxl $spacing-xl;
  }

  &--submit {
    margin: 0;
    margin-left: $spacing-md;
    flex-shrink: 0;

    @include screen-sm-max {
      display: none !important;
    }
  }

  &--clear {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: $background-color;
  }

  &--input-wrapper {
    @include screen-sm {
      display: flex;
    }
  }

  &--field {
    width: 100%;
    position: relative;
  }

  &--input {
    @include font-size-xl;
    border-radius: 45px;
    color: $text-color;
  }

  &--results {
    color: $text-color;
    margin-top: $spacing-lg;

    @include screen-md {
      margin-left: $spacing-lg;
    }

    a {
      color: $text-color;
      text-decoration: underline;
    }
  }

  &--results-icon {
    width: 8px;
    height: 8px;
    color: $focus-color;
    margin-left: 2px !important;
  }
}
