.global-search {
  position: relative;
  transition: width 0.5s $ease-out;

  &__form {
    width: 100%;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s;

    &.-is-visible {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }

  &__input {
    @include font-size-body;
    width: 100%;

    input {
      height: 42px;
    }
  }

  &--open {
    width: 100%;
    height: 42px;
  }

  &--close {
    position: absolute;
    right: 20px;
    top: 15px;
    color: $link-color;
  }

  &__submit {
    @include visually-hidden-button;
  }
}
