.simple-header {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  padding: $spacing-sm;
  z-index: 99;
  position: relative;

  &.-theme-light {
    background-color: white;

    .simple-header--logo {
      margin: $spacing-md;

      img {
        max-width: 200px;
        max-height: 30px;
      }
    }
  }

  &--logo {
    display: block;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;

    img {
      max-width: 130px;
      max-height: 20px;
    }

    span {
      @include visually-hidden;
    }
  }

  a {
    display: flex;
    align-content: center;
  }
}
