.employee-search-result {
  padding-top: $spacing-lg;

  :not(:last-child) > & {
    padding-bottom: $spacing-lg;
    border-bottom: 1px solid $element-color--light;
  }

  h3 {
    @include font-size-xl;
    font-weight: normal;
    margin: 0;
  }

  h4 {
    @include font-size-body;
    margin: $spacing-sm 0 0;
  }

  &--texts {
    @include remove-list-styles;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      @include line-separator();
      padding-right: $spacing-md;
      margin-right: $spacing-md;
    }
  }

  &--links {
    @include remove-list-styles;
    margin: $spacing-sm 0 0;

    span {
      font-weight: bold;
    }
  }
}
