.office-block {
  h2 {
    position: relative;
    margin: 0;
    padding-bottom: $spacing-lg;

    &:after {
      @include orange-bar;
      left: 0;
    }
  }

  &--info {
    display: flex;
    flex-wrap: wrap;
  }

  &--info-item {
    width: 100%;
    margin-top: $spacing-lg;

    @include screen-md {
      width: 50%;
      padding-right: $spacing-lg;
    }

    @include screen-lg {
      width: 25%;
    }
  }
}
