.tab-content-section {
  margin-bottom: 3rem;

  &-title {
    @include font-size-section-heading;
    font-weight: normal;
  }

  &--ingress  {
    @include font-size-body;
  }

  &--text {
    h3 {
      @include font-size-lg;
      margin-bottom: 0.5em;
    }
    h4 {
      @include font-size-body;
      color: $element-color--darker;
      margin-bottom: 0.3em;
    }

    ul {
      li {
        padding-left: $spacing-md;
      }
    }
  }

  &--content,
  &--downloads,
  &--description,
  &--text {
    margin-top: $spacing-xl;
  }

  &--bullets {
    margin-top: $spacing-lg;
  }

  &--link {
    margin-top: $spacing-md;
    padding: 9px 30px !important;
  }

  h2 {
    // This is to override the various main headings of tab-sections with minimum specificity so more deeply nested headings can override it
    margin-top: 0;
    font-size: convert-to-rem(28px);
  }
}
