﻿@using System.Configuration
@using EPiServer.Editor
@using EPiServer.Security
@using EPiServer.ServiceLocation
@model BasePageViewModel

@if (PageEditing.PageIsInEditMode)
{
    var principal = PrincipalInfo.CurrentPrincipal;
    var roles = ServiceLocator.Current.GetInstance<IVirtualRoleRepository>().GetAllRoles().Where(x => principal.IsInRole(x));
    var rolesAgg = roles.Aggregate((a, b) => a + ", " + b);
    var serverTime = DateTime.Now;


    <div class="content-container">

        <div class="page-layout article-page">
            <div class="page-layout--content">
                <h1>Systeminfo</h1>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="page-layout">
            <div class="page-layout--content">

                <div class="article-page--ingress">
                    <p>Denne siden vises kun inne i redigering og viser teknisk informasjon som ikke er tilgjengelig i Episerver grensesnittet.</p>
                </div>
                <div class="article-header">

                    <div class="article-header--byline -is-mobile">
                        <div class="article-header--byline-header">
                            <p>Systemside</p>
                        </div>
                        <div style="height: 0px; overflow: hidden; visibility: hidden;"></div>
                    </div>
                    <div class="article-header--byline -is-desktop">
                        <div class="byline">
                            <div class="byline--item">Systemside</div>
                        </div>
                    </div>
                </div>
                <div class="content-area">
                    <div class="content-area-item">
                        <div class="html-string">
                            <h2>Servertid</h2>
                            <table>
                                <tr>
                                    <th>Nåværende servertid:</th>
                                    <td>@serverTime.ToString("O")</td>
                                </tr>
                                <tr>
                                    <th>Tidspunkt:</th>
                                    <td>@serverTime.ToShortTimeString() @serverTime.ToLongDateString()</td>
                                </tr>
                            </table>

                            <h2>Applikasjonsversjon</h2>
                            <table>
                                <tr>
                                    <th>Installert versjon:</th>
                                    <td>@(ConfigurationManager.AppSettings["InstalledOctopusVersion"])</td>
                                </tr>
                                <tr>
                                    <th>Installert på dev.nfr.no:</th>
                                    <td>@(ConfigurationManager.AppSettings["InstalledOctopusDateTime"])</td>
                                </tr>
                            </table>

                            <h2>Innlogget bruker</h2>
                            <table>
                                <tr>
                                    <th>Brukernavn:</th>
                                    <td>@principal.Identity.Name</td>
                                </tr>
                                <tr>
                                    <th>Roller:</th>
                                    <td>@rolesAgg</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

