.breadcrumbs {
  @include font-size-xs;
  border-bottom: 1px solid $element-color--lighter;
  padding: $spacing-sm 0;
  background: white;

  @media print {
    display: none;
  }

  ul {
    @include remove-list-styles;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: $spacing-md;
    overflow: hidden;

    @include screen-md {
      display: flex;
      padding-bottom: 0;
    }
  }

  li {
    margin-top: $spacing-sm;
    margin-right: 10px;
    padding-right: 10px;

    @include screen-md {
      @include line-separator;
    }
  }

  svg {
    margin-top: 2px;
  }

  &--header {
    @include screen-md {
      display: none;
    }
  }

  :root &--toggle {
    @include font-size-xs;
    width: 100%;
    color: $link-color;
    text-align: left;

    svg {
      display: inline-block;
      margin-right: $spacing-sm;
    }
  }

  &--collapse {
    @include screen-md {
      height: auto !important;
      visibility: visible !important;
    }
  }

  &--root {
    color: $link-color;

    svg {
      @include screen-md-max {
        display: none !important;
      }
    }

    span {
      @include screen-md {
        @include visually-hidden;
      }
    }
  }
}
