$link-color: #0c95b5;
$text-color: #404041;
$background-color: #0c95b5;

$label-color: #50c1ba;
$green: #00cb6d;
$red: #ff5d17;

$element-color--darker: #404041;
$element-color--dark: #e7dfd2;
$element-color: #b3b3b3;
$element-color--light: #d5df49;
$element-color--lighter: #dddddd;
$element-color--lightest: #e7dfd2;

$focus-color: #d5df49;
$yellow: #fdf0aa;
$blue: #8bd3e6;
$blue-light: #edfafd;

@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'functions';
@import 'typography-mixins';
@import 'site';

@import '../components/**/*.scss';
@import '../static-site/**/*.scss';
