// Colors
$link-color: #00338d;
$text-color: #081319;
$background-color: #1c445a;

$label-color: #00bee2;
$green: #00cb6d;
$red: #ff5d17;

$element-color--darker: #49697b;
$element-color--dark: #778f9c;
$element-color: #a4b4bd;
$element-color--light: #d2dade;
$element-color--lighter: #e8ecee;
$element-color--lightest: #f3f5f7;

$focus-color: #ff7d00;
$yellow: #fdf0aa;
$blue: #8bd3e6;
$blue-light: #edfafd;

@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'functions';
@import 'typography-mixins';
@import 'site';

@import '../components/**/*.scss';
@import '../static-site/**/*.scss';
