// Colors
$link-color: #385481;
$text-color: #464740;
$background-color: #464740;

$label-color: #005c48;
$green: #00cb6d;
$red: #ff5d17;

$element-color--darker: #5a5b50;
$element-color--dark: #83847c;
$element-color: #9ca9ca;
$element-color--light: #cee19f;
$element-color--lighter: #e2edc8;
$element-color--lightest: #f5f5f5;

$focus-color: #7bbb60;
$yellow: #fdf0aa;
$blue: #8bd3e6;
$blue-light: #edfafd;

@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'functions';
@import 'typography-mixins';
@import 'site';

@import '../components/**/*.scss';
@import '../static-site/**/*.scss';
