// Colors
$link-color: #2b2464;
$text-color: #222222;
$background-color: #222222;

$label-color: #222222;
$green: #00cb6d;
$red: #ff5d17;

$element-color--darker: #626262;
$element-color--dark: #dddddd;
$element-color: #bbbbbb;
$element-color--light: #ffd18d;
$element-color--lighter: #eeeeee;
$element-color--lightest: #f4f4f4;

$focus-color: #ffb74c;
$yellow: #fdf0aa;
$blue: #8bd3e6;
$blue-light: #edfafd;

@media print {
  html {
    font-size: 28px !important;
  }
}

@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'functions';
@import 'typography-mixins';
@import 'site';

@import '../components/**/*.scss';
@import '../static-site/**/*.scss';
