@mixin external-link-style {
  display: inline;
  margin-right: 12px;

  span {
    position: relative;

    .icon {
      // Displays all link icons in a row
      display: inline;
    }

    .external-link-icon {
      width: 6px;
      height: 6px;
      color: $focus-color;
      margin: 0 0 3px 0 !important;
    }
  }
}

@mixin cf() {
  *zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: $element-color--light;
  }
}

@mixin grid($columns, $margin) {
  width: calc((100% - (#{$margin} * #{$columns - 1})) / #{$columns});

  //Set margins on each to override previously set margins from MQs
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }

  &:nth-child(#{$columns}n) {
    margin-right: 0;
  }
}

@mixin visually-hidden {
  position: absolute;
  left: -999em;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  overflow: hidden;
}

@mixin visually-hidden-button {
  &:not(:focus) {
    @include visually-hidden();
  }
}

@mixin focus-outline {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

@mixin outline {
  box-shadow: inset 0 0 0 1px $element-color--light;
  border-radius: $border-radius-lg;
}

@mixin remove-list-styles {
  list-style: none;
  padding: 0;
}

@mixin remove-button-styles {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
}

@mixin quantity-selector($selector-base, $quantity) {
  #{$selector-base}:nth-last-child(#{$quantity}):first-child,
  #{$selector-base}:nth-last-child(#{$quantity}):first-child
    ~ #{$selector-base} {
    @content;
  }
}

@mixin orange-bar($top: auto, $bottom: 0, $width: 32px, $height: 4px) {
  content: '';
  position: absolute;
  height: $height;
  width: $width;
  bottom: $bottom;
  top: $top;
  background-color: $focus-color;
}

@mixin line-separator(
  $pseudo-element: 'after',
  $side: 'right',
  $color: $element-color--light,
  $height: 16px
) {
  position: relative;

  &:#{$pseudo-element} {
    content: '';
    position: absolute;
    #{$side}: 0;
    top: 50%;
    width: 1px;
    height: $height;
    background: $color;
    transform: translateY(-50%);
  }

  &:last-of-type {
    &:after {
      width: 0px;
    }
  }
}

// Useful for delaying the visibility of things that should only be visible if javascript is disabled
@mixin non-js-reveal {
  animation: non-js-reveal 0s 2s backwards;
}

@keyframes non-js-reveal {
  from {
    visibility: hidden;
    position: absolute;
  }
  to {
    visibility: visible;
    position: static;
  }
}

@mixin delay($from, $to, $duration, $beginTransition, $properties...) {
  animation-name: delay;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  @keyframes delay {
    0% {
      @each $property in $properties {
        #{$property}: $from;
      }
    }

    #{$beginTransition} {
      @each $property in $properties {
        #{$property}: $from;
      }
    }

    100% {
      @each $property in $properties {
        #{$property}: $to;
      }
    }
  }
}
@mixin notIE {
  @supports not ((-ms-high-contrast: none) or (-ms-high-contrast: active)) {
    @content;
  }
}

@mixin IE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin cursor-screen-only {
  @media not all and (pointer: coarse) {
    @content;
  }
}

@mixin input-placeholder() {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

// Breakpoints
@mixin screen-xs {
  @media (min-width: $breakpoint-xs) {
    @content;
  }
}
@mixin screen-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin screen-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-md-with-height {
  @media (min-height: $breakpoint-lg) and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-md-with-height-max {
  @media (max-height: $breakpoint-lg), (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin screen-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
@mixin screen-xxl {
  @media (min-width: $breakpoint-xxl) {
    @content;
  }
}
@mixin screen-xs-max {
  @media (max-width: $breakpoint-xs-max) {
    @content;
  }
}

@mixin screen-sm-max {
  @media (max-width: $breakpoint-sm-max) {
    @content;
  }
}
@mixin screen-md-max {
  @media (max-width: $breakpoint-md-max) {
    @content;
  }
}
@mixin screen-lg-max {
  @media (max-width: $breakpoint-lg-max) {
    @content;
  }
}
@mixin screen-xl-max {
  @media (max-width: $breakpoint-xl-max) {
    @content;
  }
}
@mixin screen-xxl-max {
  @media (max-width: $breakpoint-xxl-max) {
    @content;
  }
}
