html {
  font-size: $font-size-base;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;

  @media print {
    font-size: 24px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-size-body;
  color: $text-color;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

body,
button,
input,
textarea {
  font-family: $font-stack;
}

html:not(.mouse-user) :focus {
  @supports (outline: 5px solid $focus-color) {
    outline: 5px solid $focus-color;
  }
}

.mouse-user * {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  @include font-size-heading;
  font-weight: normal;
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-lg;
}

h2 {
  @include font-size-xl;
  font-weight: normal;
}
