// Font styles:
@mixin font-size-xs {
  font-size: convert-to-rem(14px);
}

@mixin font-size-sm {
  @include fluid-type(14px, 16px);
}

@mixin font-size-body {
  @include fluid-type(16px, 18px);
}

@mixin font-size-lg {
  @include fluid-type(18px, 20px);
}

@mixin font-size-xl {
  @include fluid-type(21px, 24px);
  line-height: 1.1;
}

@mixin font-size-xxl {
  @include fluid-type(24px, 32px);
  line-height: 1.1;
}

@mixin font-size-section-heading {
  @include fluid-type(26px, 34px);
  line-height: 1.1;
}

@mixin font-size-heading {
  @include fluid-type(30px, 40px);
  line-height: 1.1;
}

@mixin font-size-huge {
  @include fluid-type(70px, 100px);
  @include fluid-type(70px, 100px, $breakpoint-md, $breakpoint-xl, false);
  line-height: 0.7;
}

@mixin font-size-portfolio {
  @include fluid-type(16px, 18px);
  font-weight: bold;
}

// Inputs need to be 16px on iPhone, or else the page will be zoomed in on the input when focused
@mixin font-size-input {
  font-size: convert-to-rem(16px);
  @include fluid-type(14px, 16px, $breakpoint-md, $breakpoint-lg, false);
}

@mixin fluid-type(
  $min-font-size,
  $max-font-size,
  $min-vw: $breakpoint-md,
  $max-vw: $breakpoint-lg,
  $default: true
) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  $min-font-size: convert-to-rem($min-font-size);
  $max-font-size: convert-to-rem($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      @if $default == true {
        font-size: $min-font-size;
      }
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            (
              (100vw - #{convert-to-rem($min-vw)}) / #{strip-unit(
                  convert-to-rem($max-vw - $min-vw)
                )}
            )
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  } @else {
    @error "Detected mixed units. Please use the same units for all parameters.";
  }
}
