.icon-warning {
  margin-right: $spacing-sm;
  flex-shrink: 0;
  width: 32px;
  height: 32px;

  & > [data-style='background'] {
    fill: $yellow;
  }

  &.-theme-red > [data-style='background'] {
    fill: $red;
  }

  &.-theme-blue > [data-style='background'] {
    fill: $blue-light;
  }

  &.-size-wide {
    margin-right: $spacing-md;
    width: 48px;
    height: 48px;
  }
}
