.grouped-search-page {
  &.-theme-lowercase {
    > nav > ul > li {
      text-transform: none;
    }
  }

  > nav > ul {
    @include remove-list-styles;
    margin: $spacing-xxl 0;

    > li {
      @include font-size-xl;
      @include line-separator('before');
      @include line-separator;
      display: inline-block;
      padding: $spacing-xs 20px;
      margin-right: -1px;
      text-transform: uppercase;

      &:before {
        left: 0;
        right: auto;
      }

      &:last-child {
        &:after {
          width: 1px;
        }
      }
    }
  }

  &--results-description {
    @include font-size-sm;
  }
}
