﻿@using System.Globalization
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Forskningsradet.Web
@using React.Web.Mvc
@using ReactModels = Forskningsradet.Core.Models.ReactModels;

@inherits WebViewPage<Forskningsradet.Web.AdminTools.ImportContent.ViewModels.ImportContentViewModel>
@{
    const string _versionNumber = "0.3";
    Layout = null;
    const string _formInput = "<input type=\"file\" name=\"file\" />" +
                    "<br /><input type=\"number\" name=\"rootPageId\" placeholder=\"Folder id\" /> Hvilken side innholdet skal legges under" +
                    "<br /><input type=\"number\" name=\"rootPrivateId\" placeholder=\"Folder id unpublished\" /> (Hvis valgt) Legger innhold som ikke har ReviewState.Published under denne mappen" +
                    "<br /><input type=\"number\" name=\"take\" placeholder=\"Max count\" /> Begrenser antall år, men bruker også samme tall til å begrense hvor mange artikler som hentes inn for hvert år" +
                    "<br /><input type=\"submit\" value=\"Submit\" />" +
                    "<br /><input type=\"checkbox\" name=\"testRun\" value=\"true\" /> Testrun (don't save)";
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Import Content Tool</title>
    <link href="@Url.Content(ReactConfig.Manifest.NpCss)" rel="stylesheet" />
</head>
<body>
    <main role="main" id="main">
        @using (Html.BeginForm("Index", "ImportContentTool", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.React(
                "Components." + nameof(ReactModels.ArticlePage),
                new ReactModels.ArticlePage
                {
                    Title = "Import Content - v" + _versionNumber,
                    Ingress = "This is the tool for importing articles for Nysgjerrigper",
                    Content = new ReactModels.RichText
                    {
                        Blocks = new List<ReactModels.ContentAreaItem>
                        {
                            new ReactModels.ContentAreaItem
                            {
                                Id = "1",
                                ComponentName = nameof(ReactModels.HtmlString),
                                ComponentData = new ReactModels.HtmlString
                                {
                                    Text = _formInput
                                }
                            },
                            new ReactModels.ContentAreaItem
                            {
                                Id = "2",
                                ComponentName = nameof(ReactModels.HtmlString),
                                ComponentData = new ReactModels.HtmlString
                                {
                                    Text =  (Model.Count > 0 ? $"Imported <strong>{Model.Count}</strong> articles" : string.Empty)
                                }
                            }
                        }
                    }
                })
        }
    </main>
    <script src="@Url.Content(ReactConfig.Manifest.VendorJs)"></script>
    <script src="@Url.Content(ReactConfig.Manifest.ClientJs)"></script>
    @Html.ReactInitJavaScript()
</body>
</html>
