.description-list-block {
  &--title {
    @include font-size-body;
    font-weight: bold;
  }

  dl {
    background-color: $element-color--lightest;
    padding: $box-padding;

    span {
      display: block;
      border-bottom: 1px solid $element-color--light;
      padding: $spacing-sm 0;

      @include screen-sm {
        display: flex;
        justify-content: space-between;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }
}
